.reveal p {
  text-align: left;
  margin-bottom: 1.5em;
}

.reveal section img {
  background:none; 
  border:none; 
  box-shadow:none;
}

.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-align: left;
}